<!-- Pembungkus utama tetap sama -->
<div class="relative flex justify-center items-center min-h-screen w-full bg-[#FCFAEE]">
	
	<!-- GAMBAR: Sekarang menggunakan posisi & ukuran persentase agar responsif -->
	<!-- Anda bisa mengubah nilai persen (%) untuk menyesuaikan posisi -->
	<img src="/shaoi.png" alt="shao" class="absolute top-[17%] right-[17.5%] w-[13%]  h-auto">
	<img src="/sai.png" alt="sai" class="absolute top-[25%] right-[29%] w-[14%] h-auto">
	<img src="/sia.png" alt="sia" class="absolute top-[44%] right-[38.7%] w-[21.5%]  h-auto z-20">
	<img src="/soa.png" alt="soa" class="absolute top-[25.5%] right-[53.8%] w-[14%] h-auto z-10">

	<!-- Teks tidak perlu diubah, karena sudah responsif dengan 'vw' -->
	<h1 class="text-[13vw] font-normal m-0 text-center leading-none tracking-[0.1em]" style="font-family: 'balastaral', sans-serif;">
    YORALPH
  </h1>

</div>