---
import Lanyard from "./Lanyard";
---

<div class="relative grid grid-cols-10 min-h-screen w-full bg-[#EBEBE6]">
  
  <!-- Tambahkan Lanyard di posisi yang kamu mau -->
  <div class="absolute inset-0 pointer-events-none z-10">
    <Lanyard client:load position={[0, 0, 14]} gravity={[0, -40, 0]} />
  </div>
	
	<!-- GAMBAR: Sekarang menggunakan posisi & ukuran persentase agar responsif -->
	<!-- Anda bisa mengubah nilai persen (%) untuk menyesuaikan posisi -->
	<!-- <img src="/shaoi.png" alt="shao" class="absolute top-[17%] right-[17.5%] w-[13%]  h-auto">
	<img src="/sai.png" alt="sai" class="absolute top-[25%] right-[29%] w-[14%] h-auto">
	<img src="/sia.png" alt="sia" class="absolute top-[44%] right-[38.7%] w-[21.5%]  h-auto z-20">
	<img src="/soa.png" alt="soa" class="absolute top-[25.5%] right-[53.8%] w-[14%] h-auto z-10"> -->

	<!-- Teks tidak perlu diubah, karena sudah responsif dengan 'vw' -->
	<!-- <h1 class="text-[13vw] font-normal m-0 text-center leading-none tracking-[0.1em]" style="font-family: 'balastaral', sans-serif;">
    YORALPH
  </h1> -->
 <div class="bg-gray-500 border border-black  col-span-2">
	<div class="grid grid-cols-2 min-h-screen w-full">
		<div class="bg-gray-300 border border-black col-span-1">
			<div class="grid grid-row-10 w-full h-full">
				<div class="row-span-6 border border-black bg-gray-300"></div>
				<div class="row-span-1 border border-black bg-gray-400"></div>
				<div class="row-span-1 border border-black bg-gray-400"></div>
				<div class="row-span-2 border border-black bg-gray-300"></div>
			</div>
		</div>
		<div class="bg-gray-400 border border-black  col-span-1"></div>
	</div>
 </div>
 <div class="bg-gray-500 border border-black col-span-8">
	<div class="grid grid-rows-10 min-h-screen w-full">	
		<div class="bg-gray-300 border border-black row-span-8">
			<div class="grid grid-cols-10 w-full min-h-[79.8vh]">
				<div class="bg-gray-500 border border-black col-span-8"></div>
				<div class="bg-gray-600 border border-black col-span-2">
					<div class="grid grid-rows-10 w-full h-full">
						<div class="bg-gray-700 border flex justify-center items-center border-black row-span-2"> 
							<h1 class="text-white text-5xl font-bold">お茶子</h1>
						</div>
						<div class="bg-gray-800 border border-black row-span-8"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-gray-400 border border-black  row-span-2"></div>
 </div>

</div>