.lanyard-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: scale(1);
  transform-origin: center;
  pointer-events: none;
  /* padding-left: 10%; */
  overflow: visible; /* tambahkan ini */
}
