<!-- Pembungkus utama dibuat 'relative' -->
<div class="relative flex justify-center items-center min-h-screen w-full bg-[#FCFAEE]">
	
	<!-- GAMBAR: Dibuat 'absolute' agar bebas diposisikan -->
	<!-- Atur posisi dengan: top, bottom, left, right. Contoh: bottom-0 left-5 -->
	<img src="/shaoi.png" alt="shao" class="absolute top-29 right-70 h-62">
	<img src="/sai.png" alt="sai" class="absolute top-50 right-118 h-95">
	<img src="/sia.png" alt="sia" class="absolute top-90 right-165 h-60">
	<img src="/soa.png" alt="soa" class="absolute top-49.5 right-236.5 h-95">
	
	<!-- Untuk gambar kedua, tinggal duplikat dan ganti posisi -->
	<!-- <img src="/gambar-lain.png" alt="lain" class="absolute top-5 right-5 h-40"> -->

	<!-- TEKS: Tetap di tengah karena 'flex' dari pembungkus -->
	<h1 class="text-[13vw] font-normal m-0 text-center leading-none tracking-[0.1em]" style="font-family: 'balastaral', sans-serif;">
    YORALPH
  </h1>

</div>